img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;
}

.nv-file-over {
    border: dotted 3px red;
}

input[type=file] {
    color: transparent;
}

.pic {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
  }

.img-text {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    text-align: center;
    color: #FFF;
}

img.blur {
    filter: blur(4px);
}